body {
    background-image: url("./imge/4.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

header {
    background-color: #333;
    color: white;
    padding: 0.5px;
    height: 100%;
    width: 100%;
}

.ii {
    width: 1cm;
    float: left;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 15px;
}

.SS {
    margin-top: 15px;
    height: 250px;
}

.pp {
    width: 1.2cm;
    float: right;
    font-style: normal;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 15px;
}

.KK {
    font-size: xx-large;
    font-style: oblique;
    font-weight: bolder;
    color: red;
    text-shadow: 2px 2px 2px black;
    margin-top: 100cm;
}

.qq {
    font-size: xx-large;
    font-style: oblique;
    font-weight: bolder;
    margin-left: 8px;
    text-shadow: 2px 2px 2px black;
    color: red;
}

.ff {
    font-size: xx-large;
    font-style: normal;
    font-weight: bolder;
    margin-left: 8px;
    text-shadow: 2px 2px 2px red;
    color: rgb(0, 0, 0);
}